.banner-container{
    color: #0e1111;
    display: flex;
    flex-flow: column;
    height: 700px;
    margin-bottom: 2rem;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
}
.banner{
    display: flex;
}
.banner-img{
    height: 100%;
}
.banner-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-desc{
    display: flex;
    flex: 1 1;
    flex-flow: column;
    padding: 2rem;
    position: relative;
}
.banner-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner-info{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.banner-suggestion{
    bottom: 50px;
    display: flex;
    gap: 10px;
    position: absolute;
}